# backup files for emacs, vim, etc.
*~

# temporary files
\#*#

*.tmp
*.tmp.*
*.tmp-*
*.bak
*.bak.*
*.bak-*
*.orig
*.orig.*
*.orig-*
*.ORIG
*.ORIG.*
*.ORIG-*

.env
.env.*
.env-*

*.log
*.log.*
*.log-*
*.err
*.err.*
*.err-*

*.elc
.DS_Store
.eslintcache
.node_repl_history
.npm
.sass-cache/
__MACOSX
__pycache__/
logs/
node_modules/
nytprof
nytprof.out
tmp/
*:Zone.Identifier
*_flymake.*
