:root {
    --color: black;
    --background-color: #cce;
    --border-color: #999;
    --emphasis: #ddf;
    --font-family: "Palatino Linotype", "Palatino", "Book Antiqua", serif;
    --highlight: rgba(255, 255, 255, 0.25);
    --shadow: rgba(0, 0, 0, 0.1);
    --select-background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
@media (prefers-color-scheme: dark) {
    :root {
        --color: #eee;
        --background-color: #224;
        --border-color: #999;
        --emphasis: #336;
        --highlight: rgba(255, 255, 255, 0.1);
        --shadow: rgba(0, 0, 0, 0.25);
        --select-background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    }
}

html {
    margin: 0;
    padding: 1rem;
}

body {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--color);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}
body {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}
.text-converter__container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}
.text-converter__heading {
    flex: 0 0 auto;
}
.text-converter__form {
    flex: 1 0 auto;
}
.text-converter__form {
    display: grid;
    grid-template-areas:
        "filter    filter"
        "direction zalgo "
        "case      case  "
        "input     input "
        "output    output";
    gap: 1rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto 1fr 1fr;
}
@media (min-width: 576px) {
    .text-converter__form {
        grid-template-areas:
            "filter    filter filter"
            "direction zalgo  case"
            "input     input  input"
            "output    output output";
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .text-converter__form {
        grid-template-areas:
            "filter direction zalgo  case"
            "input  input     input  input"
            "output output    output output";
        grid-template-columns: 1fr auto auto auto;
        grid-template-rows: auto 1fr 1fr;
    }
}
.text-converter__filter {
    grid-area: filter;
}
.text-converter__direction {
    grid-area: direction;
}
.text-converter__zalgo {
    grid-area: zalgo;
}
.text-converter__case {
    grid-area: case;
}
.text-converter__input {
    grid-area: input;
}
.text-converter__output {
    grid-area: output;
}
.text-converter__input,
.text-converter__output {
    display: flex;
    flex-flow: column nowrap;
}
.text-converter__input > .label-area,
.text-converter__output > .label-area {
    flex: 0 0 auto;
}
.text-converter__input > .textarea,
.text-converter__output > .textarea {
    flex: 1 0 auto;
}

.d-block {
    display: block;
}
.w-100 {
    width: 100%;
}
.mb-0 {
    margin-bottom: 0;
}
.mt-0 {
    margin-top: 0;
}
.text-center {
    text-align: center;
}
.mb-1 {
    margin-bottom: 0.25rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.mb-3 {
    margin-bottom: 1rem;
}

input, select, textarea {
    appearance: none;
    border: 1px solid var(--border-color);
    padding: 0.25rem 0.5rem;
    background-color: var(--background-color);
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}
button {
    appearance: none;
    border: 1px solid transparent;
    padding: 0.25rem 0.5rem;
    background-color: var(--emphasis);
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    border-radius: 0.5rem;
}
select {
    background-image: var(--select-background-image);
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1rem 0.75rem;
    padding-right: 1.75rem;
}
.text-converter__label--horizontal {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 0.5rem;
}
.text-converter__label--horizontal > .label-area {
    flex: 0 0 auto;
}
.text-converter__label--horizontal > *:not(.label-area) {
    flex: 1 0 auto;
}
.label-area {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: baseline;
    gap: 1rem;
}
.label-area__message {
    opacity: 0;
    transform: scale(1);
}
.label-area__message.visible {
    opacity: 1;
    transform: scale(5);
}
.label-area__message:not(.visible) {
    transition: opacity 1s, transform 1s;
}
select[name="filter"] {
    line-height: 2;
}
